/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Variables */
:root {
    --primary-color: #022109;
    --secondary-color: #074447;

}
/* Overall */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/northern\ lightsbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}


body.dark{
    background-color: white;
    color: black;
}

/* Typography */ 

h1 {
    font-size: 39.06px;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-size: 31.25px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

h3 {
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

h4 {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

h5 {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

a {

}


/* Logo */
#logo{
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 32px;
    font-family: sans-serif;
    background-size: 50px;
}

/* Nav */
#nav{
    position: fixed;
    top: 20px;
    right: 20px; 
    margin: 0;
    padding: 0;
}

#navWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
}

#navTrigger {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 24px;
    right: 24px;
    background-image: url(../images/icons/hamburger.svg);
    z-index: 2;
    display: none;
    cursor: pointer;
}

#nav a {
    color: white;
}
#nav li {
    display: inline-block;
    font-size: 24px;
    margin-right: 40px;
    line-height: 50px;
}

#nav li:hover {
    color: white;
    border-bottom: 3px dotted white;
    transition-duration: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

/* Page Layout */
.section {
    min-height: 100vh;
}

.section img {
    width: 100%;
    border-radius: 25px;
}


/* Hero Section */
#hero{ 
    padding: 30vh;
    box-sizing: border-box;
}

/* .container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #20a7d8;
}

.second div {
    background-color: #CD921E;
}

.third div {
    background-color: #c10528;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
} */




.sky-container {
    transform: rotateZ(-30deg);

}


.star {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #fff);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before, .star::after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    border-radius: 100%;
    transform: translateX(50%) rotateZ(-35deg);
    animation: shining 3000ms ease-in-out infinite;
}

.star::after {
    transform: translateX(50%) rotateZ(-35deg);
}

.star:nth-child(1) {
    top: calc(50% - 10px);
    left: calc(0% - 200px);
    animation-delay: 650ms;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 650ms;
}

.star:nth-child(2) {
    top: calc(50% - 20px);
    left: calc(50% - 90px);
    animation-delay: 650ms;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 650ms;
}

.star:nth-child(3) {
    top: calc(50% + 150px);
    left: calc(60% - 200px);
    animation-delay: 2000ms;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 2000ms;
}

.star:nth-child(4) {
    top: calc(50% + 300px);
    left: calc(50% - 350px);
    animation-delay: 4500ms;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 45000ms;
}

.star:nth-child(5) {
    top: calc(50% + 400px);
    left: calc(50% - 50px);
    animation-delay: 1500ms;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 1500ms;
}

.star:nth-child(6) {
    top: calc(50% + 200px);
    left: calc(50% + 200px);
    animation-delay: 22500ms;
}

.star:nth-child(6)::before, .star:nth-child(6)::after {
    animation-delay: 22500ms;
}

/* Animations */
@keyframes tail{
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
}

/* .comet {
    background-image: url("../images/noun-shooting-star-811325.svg");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    position: fixed;
    top: 50vh;
    left: 50vw;
    background-size: cover;
} */


.carrot {
    width: 40;
    height: 40;
    position: absolute;
    top: 90vh;
    left: calc(50% - 20px);
    background-image: url(../images/icons/arrow-down.svg);
}

#projectHero {
    padding: 20vh;
}

#project {
padding: 20vh;

}

/* Bio Section */
#bio {
    /* background-image: url('../images/bio-bg.jpg');
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-size: 200px;
    background-repeat: no-repeat; */
}

.caseStudy{ 
    background-color: #3E1B31;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

/* CV Section */
.cv {
    margin-top: 20px;
}
/* Buttons */
.waves-effect {
background-color: var(--secondary-color);
}

/* Cards */
.card{
    border-radius: 20px 20px 20px 20px;
}

.card .card-image {
    border-radius: 20px 20px 20px 20px;
}

.card .card-content {
    color: black;
}

.student {
background-color: white;
border-radius: 20px;
padding: 20px;
width: 205px;
height: 321px;
}

.student h4 {
font-size: 20px;
color: #298dff;
}

.student h5 {
font-size: 24px;
color: #000719;
}

.student .studentButton {
    color: white;
    display: flex;
    width: 155px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: #298DFF;
    margin-left: 10px
}

.student img {
    height:148px;
    width: 148px;
    border-radius: 148px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/* Change look / feel for smaller screen sizes */
@media only screen and (max-width: 576px) {

    #nav {
        top: 20vh;
        right: calc(50vw - 100px);
    }

    #nav li {
        display: block;
        text-align: center;
    }

    #navWrapper {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(30px);
        z-index: -1;
        opacity: 0;
        transition-duration: 200ms;
    }

    #navWrapper.active {
        z-index: 1;
        opacity: 1;
        transition-duration: 200ms;
    }

    #navTrigger {
        display: block;
    }

    #navTrigger.active {
        background-image: url('../images/icons/x.svg');
    }

}